.card {
  transition: box-shadow .3s ease;
}

.card-item .card-item-photo {
  position: relative;
}

.card-item .card-item-photo-holder {
  position: relative;
  overflow: hidden;
}

.card-item .card-item-photo img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-item .card-item-photo .view + .view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  transform: scale(1.1);
  transition: transform .4s ease-in-out, opacity .4s ease-in-out;
}

.card-item .card-item-photo:hover .view + .view {
  transform: scale(1);
  opacity: 1;
}

.card-item .card-item-btn-wishlist {
  position: absolute;
  z-index: 3;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: white;
  color: #cfd8dc;
  opacity: .1;
  transition: opacity .3s ease;
  outline: none;
}

.card-item .card-item-btn-wishlist:hover {
  color: #c00;
}

.card-item .card-item-btn-wishlist.active {
  color: #c00 !important;
}

.card-item .card:hover .card-item-btn-wishlist {
  opacity: 1;
}

.card-item .CircularProgressbar  {
  position: absolute;
  bottom: -15px;
  right: 15px;
  width: 46px;
  opacity: .1;
  transition: opacity .3s ease;
  z-index: 2;
}

.card-item .card:hover {
  box-shadow: 0 8px 15px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);
}

.card-item .card:hover .CircularProgressbar  {
  opacity: 1;
}

.card-item .card-text {
  position: relative;
  max-height: 66px;
  overflow: hidden;
}

.card-item .card-text::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: linear-gradient(0deg, white 20%, transparent 100%);
}

@media (max-width: 991.98px) {
  .card-item .card .CircularProgressbar,
  .card-item .card-item-btn-wishlist {
    opacity: 1;
  }
}