.card-items-list .card {
  height: 100%;
}

.card-items-list .card-body {
  display: flex;
  flex-direction: column;
}

.card-items-list .card-title {
  width: 100%;
  margin: auto 0 !important;
}

.card-items-list .card-text {
  width: 100%;
}

ul.pagination .page-item.next .page-link,
ul.pagination .page-item.prev .page-link {
  color: #3f729b;
}

ul.pagination .page-item.next.disabled .page-link,
ul.pagination .page-item.prev.disabled .page-link {
  color: #868e96;
}

ul.pagination .page-item.active .page-link,
ul.pagination .active a {
  background-color: #3f729b !important;
  color: white !important;
}